.container {
  color: var(--color-primary-variant);
  display: flex;
  text-align: center;
  max-width: var(--container-width);
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.container.reversed {
  flex-direction: row-reverse;
  background-color: var(--color-surface-variant);
}

.rotated {
  transform: rotateZ(-90deg);
}

.container h3 {
  font-size: 2rem;
}

.container h3:not(.rotated) {
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.container p {
  max-width: 25rem;
  font-size: 0.9rem;
}

.container img {
  max-width: 100px;
}
