.container {
  color: var(--color-primary-variant);
  display: flex;
  text-align: center;
  max-width: var(--container-width);
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.outer-container.filled-bg {
  background-color: var(--color-surface-variant);
}

.rotated {
  transform: rotateZ(-90deg);
  margin-left: 1rem;
  margin-right: 1.75rem;
}

.container h3 {
  font-size: 2rem;
}

.container h3:not(.rotated) {
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.container p {
  max-width: 25rem;
  font-size: 0.9rem;
  line-height: 1.7;
}

.container img {
  max-width: 100px;
}

@media screen and (max-width: 700px) {
  .container {
    justify-content: space-between;
  }

  .container img {
    display: none;
  }

  .container p {
    padding-right: 16px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
    padding: 2rem 0;
  }

  .rotated {
    transform: none;
    margin-left: 0;
    margin-right: 0;
  }

  .container p {
    padding: 0 16px;
  }

  .container h3 {
    text-orientation: unset !important;
    writing-mode: unset !important;
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}
