.form-button {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  color: var(--color-surface-text-emphasis);
  background-color: var(--color-primary);
  border: 2px double #fff;
}

.form-button:hover,
.form-button:active {
  background-color: #eee;
  border: 2px solid #000;
  color: var(--color-primary-variant);
}

.form-button:disabled {
  color: var(--color-surface-text-emphasis);
  background-color: var(--color-primary);
  border: 2px double #fff;
  opacity: 0.6;
}

.form-button:active:not(:disabled) {
  margin-left: 1px;
  margin-top: 1px;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-item.with-suffix {
  flex-direction: row;
}

.form-item label {
  font-size: 0.85rem;
  padding-bottom: 0.2rem;
  display: inline-flex;
  text-align: left;
  align-items: center;
}

.form-item input:not([type='radio']) {
  font-size: 1em;
  width: 100%;
  color: inherit;
  background: transparent;
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 0;
  padding-right: 0.3rem;
}

.form-item input[type='radio'] {
  appearance: none;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-primary);
  opacity: 0.8;
  margin-right: 8px;
}

.form-item input[type='radio']:checked {
  border-width: 6px;
  opacity: 1;
}

.form-item input.w-10 {
  max-width: 10rem;
}

.form-item input.w-8 {
  max-width: 8rem;
}

.form-item input.w-5 {
  max-width: 5rem;
}

.form-item input.align-right {
  text-align: right;
}

.form-item-inner-grouped {
  display: flex;
  gap: 1rem;
}

.form-item-inner-grouped .form-item {
  padding-bottom: 0;
}

.form-item-inner-grouped label {
  font-size: 0.7em;
  padding-bottom: 0.1rem;
}

.form-item-group-side-by-side {
  display: flex;
  gap: 1rem;
}

.form-item-group-side-by-side section {
  flex: 1;
}

@media screen and (max-width: 800px) {
  .form-item-group-side-by-side:not(.nowrap) {
    gap: 0;
    flex-direction: column;
  }
}
