.container {
  padding: 0 2rem;
}

.hero-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 500px;
  place-items: center;
}

.hero-container img {
  max-width: 950px;
  width: 100%;
  height: auto;
  aspect-ratio: 982 / 438;
  object-fit: cover;
}

.hero {
  text-align: center;
  background-color: var(--color-hero-box-bg);
  color: #fff;
  font-family: 'Poppins', 'Noto Sans TC', sans-serif;
  margin: 32px 0;
  padding: 16px 96px;
  border-radius: 16px;
  display: inline-block;
  z-index: 1;
}

.hero,
.hero-container img {
  grid-area: 1 / 1 / 1 / 1;
}

.hero .circles {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero h1 {
  font-size: 3.5rem;
  margin: 16px;
  letter-spacing: 3px;
  font-weight: 400;
}

.hero .circles span {
  background-color: var(--color-hero-circle-bg);
  padding: 12px;
  border-radius: 100%;
  line-height: 1em;
  display: inline-block;
}
