.outer-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-page-bg);
  box-shadow: 1px 1px 16px 2px rgb(0 0 0 / 10%);
  z-index: 100;
}

.container {
  width: 100%;
  margin: auto;
  max-width: var(--large-container-width);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  --color-default: #cacaca;
  --color-active: #000;
}

.container img {
  height: 100px;
  padding: 16px 16px 12px;
}

.links {
  border: 1px solid var(--color-default);
  border-left-width: 0;
  border-right-width: 0;
  color: var(--color-default);
  margin: 16px;
}

.links a {
  text-align: right;
  padding: 4px 0 6px;
  padding-left: 68px;
  padding-right: 12px;
  display: inline-block;
}

.links a:active,
.links a:hover,
.links a.active {
  color: var(--color-active);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .links {
    display: flex;
    width: 100%;
    margin-top: 0;
  }

  .links a {
    text-align: center;
    padding: 4px 0 6px;
    flex: 1;
  }
}

@media screen and (max-width: 800px), screen and (max-height: 500px) {
  .outer-container {
    position: initial;
    box-shadow: none;
  }
}
