.surface {
  background-color: var(--color-surface-variant);
  margin: 0 2rem;
}

.container {
  min-height: 80vh;
  max-width: var(--narrow-container-width);
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.container h1 {
  text-align: center;
}

.container p {
  font-size: 0.8rem;
  line-height: 1.7;
}

.container code {
  background: rgb(0 0 0 / 5%);
  border: 1px solid var(--color-primary);
  padding: 4px;
}

.container a {
  text-decoration: underline;
}

.error {
  color: var(--color-error);
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .surface {
    margin: 0;
  }
}
