.surface {
  background-color: var(--color-surface-variant);
  margin: 0 2rem;
}

.container {
  min-height: 80vh;
  max-width: var(--narrow-container-width);
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.container h1 {
  text-align: center;
}

.email-suffix {
  background: rgb(0 0 0 / 15%);
  border: 2px solid var(--color-primary);
  border-left: 0;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.container details {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.container details[open] {
  border: 2px solid var(--color-primary);
  padding: 1rem 1rem 0;
}

.container summary:hover * {
  background: var(--color-surface-text-emphasis);
}

.error {
  color: var(--color-error);
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .surface {
    margin: 0;
  }
}
